.flex{
    display: flex;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    min-height: 150vh;
}
.left{
    width: 15%;
    height: 100%;
    background-color: #5f76e8;
    align-items: center;
}
.left ul{
    width: 100%;
    list-style: none;
    overflow: hidden;
}
.left ul li a{
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: 1em;
    display: inline-flex;
    align-items: center;
    padding: 15px;
}
.right{
   width: 85%;
}
